html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {

    margin: 0;

}

nav {
    top: 0;
    height: 80px;
    width: 100%;

    display: flex;

    position: fixed;

    background-color: #432096;

    z-index: 99;

}

.ulnav{
    margin-top: 1.5%;
}


nav h3{
    margin-top: 1.5%;
}


nav, ul{
    text-align: center;
    margin: 0 auto;
    font-size: medium;
}

nav a {

    color: #fff;

    margin: auto 20px auto 40px;

    text-decoration: none;


}

nav li {

    float: left;

    list-style: none;

    margin-left: 20px;


}

nav li :hover {
    color: #7e2096;
    transform: scale(1.1);
    

}

nav h3 {
    float: center;
    color: #fff;
}
.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}

.frase-efeito {
    text-align: center;
    font-size: 38px;
    margin-top: 100px;
    color: #432096;
    margin-bottom: 100px;
}

.nossa_eq {
    text-align: justify;
    margin-bottom: 50px;
    color: #203896;
}

#equipe {
    font-size: xx-large;
    margin-bottom: 20px;
    color: #7e2096;
}

.imagembunner{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}

.home {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.imagemhome {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 8px;
    width: 600px;


}

.seila, .vacinatexto {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    text-align: justify;
    
}

@media screen and (max-width: 980px) {
    .seila, .vacinatexto{
        flex-direction: column;
    }
    #banho{
        flex-direction: column;
    }

    .imagemhome{
        width: 100%;
    }

    nav h3{
        margin: auto 0;
    }

    .checkbtn {
		display: block;
	}
	nav ul{
		position: fixed;
		width: 100%;
		background: #1d075f;
		top: 70px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
    .cate ul{
        display: flex;
        margin-top: 30px;
        margin-right: 20px;
        justify-content: space-around; 
    }
    .cate :nth-child(2){
        display: none;
    } 
	nav ul li{
		display: block;
		margin: 50px 100px;
		
        text-align: center;
	}

	nav ul li a {
		font-size: 20px;
	}
	a:hover, a.active {
		background: none;
		color: #5434af;
	}
	#check:checked ~ ul {
		left: 0;
	}

    .imagemtexto{
        font-size: large;
    }

    .maisvendido input{
        width: 150px;
    }

    #loja{
        margin-bottom: 10px;
    }

    .agendamento{
        max-width: 300px;
    }
    .agendamento input{
        max-width: 300px;
    }

    .agendamento select{
        max-width: 300px;
    }

    .agendamento button{
        margin-top: 0;
    }
    .text{
        max-width: 300px;
    }

    .form{
        max-width: 300px;
    }

    .opcao{
        max-width: 300px;
    }

    div .adotar{
        padding: 0;
    }
}

/* @media screen and (max-width:545px) {
    nav h3{
        margin: auto 0;
    }

    .checkbtn {
		display: block;
	}
	nav ul{
		position: fixed;
		width: 100%;
		background: #1d075f;
		top: 70px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
    .cate ul{
        display: flex;
        margin-top: 30px;
        margin-right: 20px;
        justify-content: space-around; 
    }
    .cate :nth-child(2){
        display: none;
    } 
	nav ul li{
		display: block;
		margin: 50px 100px;
		line-height: 50px;
        text-align: center;
	}

	nav ul li a {
		font-size: 20px;
	}
	a:hover, a.active {
		background: none;
		color: #5434af;
	}
	#check:checked ~ ul {
		left: 0;
	}
} */


div.box, span {
	display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 36px;
}


#equipe{
    border-radius: 50%;
    width: 290px;
}

footer {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: #7e2096;
    justify-content: center;
    flex-direction: column;
    
}

.fa-brands{
    font-size: 30px;
    color: white;
}

.iconesawesome{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.footertext{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: white;
    flex-direction: column;
    text-align: center;
    
}
.footertext :nth-child(2){
    margin-top: 10px;
}
.footertext :nth-child(3){
    color: #d3d3d3;
    margin-top: 10px;
    margin-bottom: 0;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#rodape{
    text-align: center;
    padding-right: 15px;
}

#rodape2{
    text-align: right;

}


.ok{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
}

#menu{
    background-color: aliceblue;
}

#vacina{
    font-size: xx-large;
    color: #203896;
    margin-left: 20px;
}

body{
    background-color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#vacina2{
    color: #7e2096;
    font-size: xx-large;
}

#banho{
    display: flex;
    align-items: center;
    text-align: justify;
}

#tosa{
    font-size: xx-large;
    color: #7e2096;
    margin-top: 20px;
    margin-bottom: 10px;
    
}

#texto-tosa{
    color: #203896;
    font-size: xx-large;
    margin-right: 20px;
    
}

.link{
    text-decoration: none;
}

#CEP{
    font-size: xx-large;
    color: #203896;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.textozada{
    display: flex;
    justify-content: center;
    align-items: center;

}

.CEP{
    border: 0;
    margin-right: 5px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    height: 25px;
    outline: 0;
}

.enviarzada{
    border: 0;
    height: 25px;
    border: 1px solid #d3d3d3;
    color: #6b6a6a;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.tituloend{
    margin-bottom: 10px;
}

.lorem{
    color: #203896;
    font-size: x-large;
    margin-bottom: 50px;
}

.textbar{
    font-size: x-large;
}

.logo{
    font-size: x-large;
}

#loja{
    margin-top: 100px;
    align-items: center;
    text-align: center;
    margin-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.produto1{
    align-items: center;
    text-align: center;
}

.maisvendido{
    display: flex;
    font-size: x-large;
    color:#7e2096;
    margin-top: 50px;
    justify-content: center;
    font-size: xx-large;
    justify-content: space-around;

}

.imagemtexto{
    display: flex;
    align-items: center;
}

.produto2 {
    text-decoration: none;

}

p :hover{
    color: #203896;
}


#agenda{
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.clock{
    margin-bottom: 50px;
    font-size: x-large;
    color: #7e2096;
}


.aviso{
    margin-top: 70px;
    text-align: center;
    color: red;

}

#fale{
    margin-bottom: 700px;
    text-align: center;
}

.fales{
    font-size: 70px;
    color: #7e2096;
    margin-top: 150px;
    margin-bottom: 50px;
    
}

.fundofale{
    background: url(vetor.jpg)
}

.duvida{
    color: #203896;
    font-size: x-large;
    margin-bottom: 20px;
}
.Whatsapp{
    font-size: x-large;
    color: #203896;

}

.insta{
    font-size: x-large;
    color: #432096;
    text-decoration: none;
    margin: 10px;
}

.facebook{
    font-size: x-large;
    color: #432096;
    text-decoration: none;
    margin: 10px;
}

.titulo{
    font-size: x-large;
    color: #203896;
    margin-top: 10px;

}

#adota{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.adotati{
    color: #432096;
    font-size: xx-large;
    margin-bottom: 60px;
    margin-top: 40px;
}

.filhote{
    font-size: xx-large;
    color: #203896;
    margin-bottom: 20px;
    
}

.adotar{
    text-align: center;
    margin: 0 auto;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    max-width: 720px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.adulto{
    font-size: xx-large;
    margin-bottom: 20px;
    color: #432096;
    margin-top: 20px;
    text-align: justify;

}

.pai{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.textoadotar{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: x-large;
    color: #203896;
    text-align: left;
}

.adote{
    margin-bottom: 8px;
}

img{
    border-radius: 5px;
}

.produto{
    background-color: #ffffff;
    height: 200px;
    width: 155px;
    margin-right: 20px;
    margin-bottom: 20px; 
     
}

.produto:hover{
    transform: scale(1.1);
    transition: 100ms linear;
    cursor: auto;
}

.adotetexto{
    margin-bottom: 20px;
}




.input{
    border-radius: 10px;
    width: 300px;
    height: 40px;
}

.button{
    border-radius: 10px;
    height: 40px;
}

.agendamento{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 10px;
    height: 490px;
    border: solid 1px black;
    box-shadow: 2px 0px 4px 1px #432096;
    padding: 10px;
}


.form{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.raca{
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    max-width: 300px;
    
}


.opcao{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 500px;
}


.enviar{
    margin-top: 20px;
    width: 50px;
    background-color: #432096;
    border-radius: 5px;
    color: white;
}

.enviar:hover{
    background-color: #229a00;
    color: white;
}

.text{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-agenda{
    border-radius: 5px;
}

.cate{
    background-color: #432096;
    width: 100%;
    height: 32px;
    color: white;
    border-radius: 5px;


}
#listacate{
    display: flex;
    margin-top: 30px;
    margin-right: 20px;
    justify-content: space-around; 
}

.licate{
    margin-right: 20px;
    margin-top: 0.5%;
    
}

.Textcate{
    color: white;
    text-decoration: none;
    list-style: none;
}

.Textcate:hover{
    color: #7e2096;
}

.imgloja{
    margin-top: 90px;
    max-width: 1200px;
    width: 100%;
}

.hover{
    border: 0;
    width: 100px;
    border-radius: 15px;
    margin: 5px;
    background-color: #203896;
    color: #FFF;
}

.hover:hover{
    background-color: #432096;
    color: white;
}

.bunneradote{
    display: block;
    max-width: 1200px;
    width: 100%;
    margin-top: 90px;
}