html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {

    margin: 0;

}

nav {
    top: 0;
    height: 80px;
    width: 100%;

    display: flex;

    position: fixed;

    background-color: #432096;

    z-index: 99;

}

.ulnav{
    margin-top: 1.5%;
}


nav h3{
    margin-top: 1.5%;
}


nav, ul{
    text-align: center;
    margin: 0 auto;
    font-size: medium;
}

nav a {

    color: #fff;

    margin: auto 20px auto 40px;

    text-decoration: none;


}

nav li {

    float: left;

    list-style: none;

    margin-left: 20px;


}

nav li :hover {
    color: #7e2096;
    transform: scale(1.1);

}

nav h3 {
    float: center;
    color: #fff;
}

.imagemhome {
    text-align: center;
}

.frase-efeito {
    text-align: center;
    font-size: 38px;
    margin-top: 100px;
    color: #432096;
    margin-bottom: 100px;
}

.nossa_eq {
    text-align: justify;
    margin-bottom: 50px;
    color: #203896;
}

#equipe {
    font-size: xx-large;
    margin-bottom: 20px;
    color: #7e2096;
}

.home {
    width: 1600px;
    margin: 0 auto;

}

.imagemhome {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 8px;
    


}

.seila, .vacinatexto {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    text-align: justify;
    
}
div.box, span {
	width: 380px;
	display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 36px;
}


#equipe{
    border-radius: 50%;
}

footer {
    position: auto;
    bottom: 100;
    background-color: #432096;
    color: #FFF;  
    padding: 10px 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#rodape{
    text-align: center;
    padding-right: 15px;
}

#rodape2{
    text-align: right;

}

.footer{
    margin-left: auto;
    margin-right: auto;
    padding-top: 500px;
    

}

.ok{
    display: flex;
}

#menu{
    background-color: aliceblue;
}

#vacina{
    font-size: xx-large;
    color: #203896;
    margin-left: 20px;
}

body{
    background-color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#vacina2{
    color: #7e2096;
    font-size: xx-large;
}

#banho{
    display: flex;
    align-items: center;
    text-align: justify;
}

#tosa{
    font-size: xx-large;
    color: #7e2096;
    margin-top: 20px;
    margin-bottom: 10px;
    
}

#texto-tosa{
    color: #203896;
    font-size: xx-large;
    margin-right: 20px;
    
}

.link{
    text-decoration: none;
}

#CEP{
    font-size: xx-large;
    color: #203896;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
}

.tituloend{
    margin-bottom: 10px;
}

.lorem{
    color: #203896;
    font-size: x-large;
    margin-bottom: 50px;
}

.textbar{
    font-size: x-large;
}

.logo{
    font-size: x-large;
}

#loja{
    margin-top: 100px;
    align-items: center;
    text-align: center;
    margin-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.produto1{
    align-items: center;
    text-align: center;
}

.maisvendido{
    display: flex;
    font-size: x-large;
    color:#7e2096;
    margin-top: 50px;
    justify-content: center;
    font-size: xx-large;

}

.produto2 {
    text-decoration: none;

}

p :hover{
    color: #203896;
}


#agenda{
    margin-top: 100px;
    margin-bottom: 500px;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.clock{
    margin-bottom: 50px;
    font-size: x-large;
    color: #7e2096;
}


.aviso{
    margin-top: 70px;
    text-align: center;
    color: red;

}

#fale{
    margin-bottom: 700px;
    text-align: center;
}

.fales{
    font-size: 70px;
    color: #7e2096;
    margin-top: 150px;
    margin-bottom: 50px;
    
}

.fundofale{
    background: url(vetor.jpg)
}

.duvida{
    color: #203896;
    font-size: x-large;
    margin-bottom: 20px;
}
.Whatsapp{
    font-size: x-large;
    color: #203896;

}

.insta{
    font-size: x-large;
    color: #432096;
    text-decoration: none;
    margin: 10px;
}

.facebook{
    font-size: x-large;
    color: #432096;
    text-decoration: none;
    margin: 10px;
}

.titulo{
    font-size: x-large;
    color: #203896;
    margin-top: 10px;

}

#adota{
    width: 1600px;
    margin: 0 auto;
}

.adotati{
    color: #432096;
    font-size: xx-large;
    margin-bottom: 60px;
    margin-top: 40px;
}

.filhote{
    font-size: xx-large;
    color: #203896;
    margin-bottom: 20px;
    
}

.adotar{
    text-align: center;
    margin: 0 auto;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    width: 720px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.adulto{
    font-size: xx-large;
    margin-bottom: 20px;
    color: #432096;
    margin-top: 20px;
    text-align: justify;

}

.pai{
    max-width: 1920px;
    width: 100%;
}

.textoadotar{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: x-large;
    color: #203896;
    text-align: left;
}

.adote{
    margin-bottom: 8px;
}

img{
    border-radius: 5px;
}

.produto{
    background-color: #ffffff;
    height: 200px;
    width: 155px;
    margin-right: 20px;
    margin-bottom: 20px; 
     
}

.produto:hover{
    transform: scale(1.1);
    transition: 100ms linear;
    cursor: auto;
}

.adotetexto{
    margin-bottom: 20px;
}




.input{
    border-radius: 10px;
    margin-left: 250px;
    width: 300px;
    height: 40px;
}

.button{
    border-radius: 10px;
    height: 40px;
}

.agendamento{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 10px;
    height: 490px;
    border: solid 1px black;
    box-shadow: 2px 0px 4px 1px #432096;
    padding: 10px;
}


.form{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.raca{
    margin-bottom: 20px;
    margin-top: 20px;
}

.opcao{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 500px;
}

.enviar{
    width: 50px;
    background-color: #432096;
    border-radius: 5px;
    color: white;
}

.enviar:hover{
    background-color: #229a00;
    color: white;
}

.text{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-agenda{
    border-radius: 5px;
}

.cate{
    background-color: #432096;
    width: 100%;
    height: 32px;
    color: white;
    border-radius: 5px;


}
#listacate{
    display: flex;
    margin-top: 100px;
    margin-right: 20px;
    justify-content: space-around;
   
}

.licate{
    margin-right: 20px;
    margin-top: 0.5%;
    
}

.Textcate{
    color: white;
    text-decoration: none;
    list-style: none;
}

.Textcate:hover{
    color: #7e2096;
}

.buner{
    width: 1600px;
    height: 300px;
    margin: 0 auto;
}

.imgloja{
    margin-top: 90px;
}

.hover:hover{
    background-color: #432096;
    color: white;
}

.bunneradote{
    margin-top: 90px;
}